
.expenses-form{
    
    //background-image: url(../../img/12433-NO8HFK.png);
    background-color: #efefef;
    //background-size: 130px;
    //background-position: center;
    
    
}

.list-header{
    .label-md {
        font-size: 16px;
    }
    .label-ios {
        font-size: 16px;
    }
}

.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid #dedede !important;
}

.item-md {
    padding-right: 16px;
}

.item-ios.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid #dedede !important;
}

.item-ios {
    padding-right: 16px;
}